.html form
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, monospace;
    text-align: center;
    align-items: center;
}
input
{
    border-color: #bbb;
    background: #76fddc36;
    border-radius: 180px;
    letter-spacing: 0.1em;
    text-align: center;
    
}
body
{
    background-image: url(assest/img/download\ \(1\).jfif);

}
button
{
    color: #ffffff;
    background-color: #87ceeb;
}
